/* 
  Sandy Demian
  Waldo Webpage Style
*/

/*----------------- General -----------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    color: white;
    background: url(waldo/waldo_background.png);
    background-repeat: repeat; 
    background-size: 50%;
}

h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 28px;
  color: #990000;
  margin-bottom: 3px;
}

h2 {
  font-weight: normal;
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
  color: #990000;
  padding: 0%;
  margin-bottom: 3px;
  display: inline;
}

img {
  display: inline-block;
  height: 200px;
  margin: 4px 2px 0px 2px;
}

p {
  font-size: 20px;
  color: black;
  margin-bottom: 2px;
  line-height: 1.6;
  display: inline;
}


/*----------------- Body and Sections -----------------*/

.body {
    float: center;
    width: 80%;
    height: 100%;
    margin: 0% 10% 0% 10%;
    padding-bottom: 60px;
    background-color: #cccccc;
}

.sec {
    float: center;
    width: 100%;
    height: 80%;
    padding: 2% 4% 1% 4%;
}

.sec2 {
    border-bottom: 4px dotted #990000;
    float: center;
    width: 94%;
    height: 80%;
    margin: 1% 3% 1% 3%;
}

.left {
  float: left;
  width: 50%;
}

.left img {
  max-width: 100%;
  height: 240px;
  float: center;
}

.right {
  float: left;
  width: 50%;
  height: 250px;
  padding: 1% 2% 1% 2%;
}

/* Responsive layout - when the screen is less than 800px wide */
@media screen and (max-width: 800px) {

  img {
    height: 120px;
    margin: 2px 1px 0px 1px;
  }

  .body {
    width: 90%;
    height: 100%;
    margin: 0% 5% 0% 5%;
    padding-bottom: 60px;
  }

  .left {
    width: 96%;
  }

  .left img {
    height: 170px;
  }

  .right {
    width: 96%
  }


}
